:root {
  --board-color-odd: #799555;
  --board-color-even: #eaecd0;
}

.chess-board {
  aspect-ratio: 1/1;
  padding: 0;
  list-style: none;
  display: grid;
  background-color: var(--board-color-odd);
  grid-template-columns: repeat(12, 1fr) 0;
  grid-template-rows: repeat(12, 1fr);
  border: 5px solid black;
}

.chess-board>li:nth-child(even) {
  background-color: var(--board-color-even);
}

.chess-board img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  user-select: none;
}
